<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <title>Login page</title>
</head>

<body>
  <header></header>
  <main>
    {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <p>{{ msg }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% endblock %}
    <h1>Login page</h1>
    <br>
    <br>
    <br>
    <form accept="#" method="post">
      <input type="text" name="mobile_no" placeholder="enter your mobile_no">
      <input type="password" name="password" placeholder="enter your password">
      <input type="submit" value="Login">

    </form>
    <br>
    <br>
    <br>
    <h3> if you dont have an account then signup</h3>
    <a href="/signup">signup</a>


  </main>
  <footer></footer>
</body>

</html>