<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <h1>FILL THIS INFO TO GET ADDED
        IN ADVANCED ATTENDANCE SYSTEM DISIGNED BY
        SHREE SHANKAR MANDE
    </h1>
    <BR>
    <BR>
    <form method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="enter your name">
        <input type="email" name="email" placeholder="enter your email">
        <input type="text" name="branch" placeholder="enter your branch">
        <input type="text" name="Dob" placeholder="enter your data of birth">
        <input type="text" name="student_id" placeholder="enter your student_id">
        <input type="file" name="image" accept="image/*">
        <input type="submit" value="submit">

    </form>
</body>

</html>